.cards-table {
    width: 100%;
    flex-direction: row;
    padding-left: 10%;
}

 .category-card {
    background-color: midnightblue;
    color: white;
    width: 45%;
    line-height: 100px;
    margin: 5px;
    text-align: center;
    min-width: 300px;
 }

 .h5 {
     margin-top: 10%;
     color: white;
 }

 .p {
     color: white;
 }