<div class="abs-center">
    <div class="form align-content-center text-center">
        <div class="h2">Nice to meet you!</div>
        <hr>
        <div class="col-xs-12">
            <div class="form-group">
                <div class="p">
                    Hope we can talk soon!
                    <div class="p">
                        If you have any project in mind and you think i might be useful let me know!
                    </div>
                </div>
                <hr>
                <label for="name">Name?</label>
                <input type="text" name="name" id="name" class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control">
                <label for="name">Tell me about your idea!</label>
                <input type="text" name="name" id="player name" class="form-control">
                <label for="phone-number">Phone number</label>
                <input type="text" name="phone-number" id="phone" class="form-control">
                <button type="button" class="btn btn-primary" (click)="submitForm()">Let's go!</button>
            </div>
        </div>
    </div>
</div>